<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!-- DATABASE SETTINGS -->
    <add key="ConnectionString" value="Server=localhost; Port=3306; Database=contractor; Uid=root; Pwd=root;"/>
    <add key="ShowSQL" value="True"/>
    <add key="GenerateSchema" value="True"/>
    <add key="OutputDDLToFile" value="True"/>
    <add key="OutputDDLFilePath" value="C:/Repositories/Contractor/Logs/Model.sql"/>
  </appSettings>
  <log4net>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Repositories/Contractor/Logs/Contractor.log" />
      <appendToFile value="true" />
      <dateTimeStrategy value="UniversalDateTime" />
      <datePattern value=".yyyyMMdd-HHmm" />
      <immediateFlush value="true" />
      <maxSizeRollBackups value="20" />
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Repositories/Contractor/Logs/Contractor.Error.log" />
      <appendToFile value="true" />
      <dateTimeStrategy value="UniversalDateTime" />
      <datePattern value=".yyyyMMdd-HHmm" />
      <immediateFlush value="true" />
      <maxSizeRollBackups value="20" />
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <appender-ref ref="InfoAppender" />
      <appender-ref ref="ErrorAppender" />
    </root>
    <logger name="NHibernate" additivity="false">
      <level value="ALL" />
    </logger>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="ALL" />
      <appender-ref ref="InfoAppender" />
      <appender-ref ref="ErrorAppender" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>